<!DOCTYPE html>
<html>
  <head>
    <title>UIT Exam Schedule</title>
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
